<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content" sec:authorize="hasAnyRole('ADMIN')">
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}">
	</div>
	<div class="card">
		<div class="card-header">
			<p class="text-primary">Nova Receita</p>
		</div>
		<div class="card-body">
			<form method="POST" th:object="${receita}" th:action="@{/receita/novo}">
				<input type="hidden" th:field="*{id}">
				<div class="form-group mb-3">
					<label for="nome">Nome da Receita:</label>
					<input
						class="form-control" type="text" th:field="*{nome}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
				</div>
				<div class="form-group mb-3">
					<label for="modoPreparo">Modo de Preparo:</label>
					<textarea
						class="form-control" type="text" th:field="*{modoPreparo}" required></textarea>
					<div class="text-danger" th:if="${#fields.hasErrors('modoPreparo')}" th:errors="*{modoPreparo}"></div>
				</div>
				<div class="form-group mb-3">
					<label for="tempoPreparo">Tempo de Preparo:</label>
					<input
						class="form-control" step="0.01" min="0.1" type="number" th:field="*{tempoPreparo}" required></input>
					<div class="text-danger" th:if="${#fields.hasErrors('tempoPreparo')}" th:errors="*{tempoPreparo}"></div>
				</div>
				<div class="form-group mb-3">
					<p>Ingredientes</p>
					<div th:each="ingredientes: ${listaIngredientes}">
					<input type="checkbox" th:id="${ingredientes}" th:value="${ingredientes.id}" th:field="*{ingredientes}"/>
					<label th:text="${ingredientes.nome}"></label>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Salvar
					Receita</button>
			</form>
		</div>
	</div>
</div>	
</html>