<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhuma Unidad Medida Cadastrada
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}" th:text="${mensagem}"></div>
	<div th:if="${not #lists.isEmpty(lista)}">
	
	<br/>		
		<br/>
		<form method="GET">
		<label>Pesquisa por nome de ingrediente:</label>
		<input name="nome">
		<input class="btn btn-primary btn-sm" type="submit" value="Buscar">
		</form>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="unidadeMedida : ${lista}">
					<td th:text="${unidadeMedida.id}"></td>
					<td th:text="${unidadeMedida.nome}"></td>
					<td><a class="btn btn-primary btn-sm" th:href="@{/unidadeMedida/editar(id=${unidadeMedida.id})}"sec:authorize="hasAnyRole('ADMIN')">Editar</a>
					<a class="btn btn-primary btn-sm" th:href="@{/unidadeMedida/excluir(id=${unidadeMedida.id})}" onclick="return confirm('Você realmente deseja excluir esse unidadeMedida?')" sec:authorize="hasAnyRole('ADMIN')">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</html>